/* Desktop - 1 */
body{
    margin:0;
    padding: 0;
}
.base
{
   /* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
background: #242D3B;
position: relative;

height: 948px; 
}

.top_menu
{
/* Frame 10 */

box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 482px;
gap: 12px;


height: 64px;

background: #0A1F32;
border-bottom: 3px solid #BEBFC1;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.menu_img
{
/* home_12029993 6 */

width: 68px;
height: 44px;
opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.reg_fr
{
    /* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

width: 1028px;
height: 793px;

border-radius: 43px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.reg_txt {
    width: 942px;
    height: 97px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
    margin: 0px;
}

.reg_fr2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0px 0px 60px;
    gap: 15px;
    width: 1024px;
    height: 525px;
    background: #0A1F32;
    border-radius: 33px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.reg_txt2 {
    width: 366px;
    height: 53px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    margin: 0px;
    flex-grow: 0;
    justify-content: center;
}

.edit_line
{
    /* Frame 19 */

width: 953px;
height: 59px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

}

.fr1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 29px 151px;
    gap: 10px;
    width: 804px;
    height: 123px;
    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
}

.but_fr
{
/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1px 0px;
gap: 10px;

width: 181px;
height: 64px;

background: #2D384A;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.but_fr2
{
/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1px 0px;
gap: 10px;

width: 200px;
height: 64px;

background: #2D384A;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}


.txt{
/* далее */

width: 181px;
height: 62px;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;



}

.fr5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 558px;
    width: 964px;
    height: 123px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
}

.reg_fr3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0px 0px 60px;
    gap: 15px;
    width: 1024px;
    height: 399px;
    background: #0A1F32;
    border-radius: 33px;
    flex: none;
    order: 1;
    flex-grow: 0;
}